<div class="modal-overlay">
  <div class="modal-content">
    <span class="close-button" (click)="closeModal()">&#10006;</span>
    <h2>{{ isSignup ? 'Sign Up' : 'Login' }}</h2>
    <ng-container *ngIf="!isSignup; else signupForm">
      <form (ngSubmit)="onSignIn(emailInput.value, passwordInput.value)">
        <div class="form-group">
          <label for="emailLogin">Email:</label>
          <input type="email" id="emailLogin" name="emailLogin" required #emailInput>
        </div>
        <div class="form-group">
          <label for="passwordLogin">Password:</label>
          <input type="password" id="passwordLogin" name="passwordLogin" required #passwordInput>
        </div>
        <div class="submit-button">
          <button type="submit">Login</button>
        </div>
      </form>
    </ng-container>
    <ng-template #signupForm>
      <form (ngSubmit)="onSignUp(emailInput.value, passwordInput.value)">
        <div class="form-group">
          <label for="emailSignup">Email:</label>
          <input type="email" id="emailSignup" name="emailSignup" required #emailInput>
        </div>
        <div class="form-group">
          <label for="passwordSignup">Password:</label>
          <input type="password" id="passwordSignup" name="passwordSignup" required #passwordInput>
        </div>
        <div class="submit-button">
          <button type="submit">Sign Up</button>
        </div>
      </form>
    </ng-template>
    <hr>
    <div class="toggle-between-forms">
      <p>{{ isSignup ? 'Already have an account?' : 'Don\'t have an account yet?' }} <a (click)="toggleSignup()">{{ isSignup ? 'Log In' : 'Sign Up' }}</a></p>
    </div>
  </div>
</div>
