<app-header></app-header>
<app-auction-lot-card [title]="cards[0].title" [content] = "cards[0].content" [imageUrl]="cards[0].imageUrl"></app-auction-lot-card>
<app-auction-lot-card [title]="cards[1].title" [content] = "cards[1].content" [imageUrl]="cards[1].imageUrl"></app-auction-lot-card>
<app-auction-lot-card [title]="cards[2].title" [content] = "cards[2].content" [imageUrl]="cards[2].imageUrl"></app-auction-lot-card>
<app-auction-lot-card [title]="cards[3].title" [content] = "cards[3].content" [imageUrl]="cards[3].imageUrl"></app-auction-lot-card>
